
<%= javascript_pack_tag 'hello_react' %>

        <!--Navbar-->
        <div class='Navbar h-20 w-full justify-between flex  font-bold bg-black'>
          <div class="text-white text-2xl  ml-4 mt-6 font-bold"> LeadCollector
          </div>
            <div class=" flex justify-between ">
            <a href=# class=' mt-8 mr-4 text-white'>Home</a>
            <a href=# class=' mt-8 mr-4 text-white'>Produit</a>
            <a href=# class='mr-4 mt-8 text-white'>Dashboard</a>
            <a href=# class=' mr-4 mt-8 text-white'>Contact</a>
         </div>
        </div>
    <div id ="root" class='bg-yellow-300 w-full h-24'></div>
        </div>
            <div class="bg-green-200 flex">
                <aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
                <div class="p-6">
                    <a href="index.html" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Admin</a>
                    <button class="w-full bg-red-600 cta-btn text-white text-2xl text-2xlfont-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-red-300 flex items-center justify-center">
                        <i class="fas fa-plus mr-3"></i> Boostez LeadCollector
                    </button>
                </div>
                <nav class="text-white text-base font-semibold pt-3">
                    <a href="#test1" class="flex items-center active-nav-link text-white py-4 pl-6 nav-item">
                        <i class="fas fa-tachometer-alt mr-3"></i>
                        Vos Résultats en chiffres
                    </a>
                    <a href="#test" class=" items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                      
                        Nombre de visiteur sur le site
                        <div class="bg-green-300 mx-auto rounded-full h-10 w-10 text-white">
                        <h1 class='text-white text-sm p-2'>120</h1>
                        </div>
                    </a>
                    <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                       
                        Nombre de like :
                        <h1 class='text-red-700 text-sm p-2'>120</h1>
                    </a>
                    <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                      
                        Nombre de Lead :
                        <h1 class='text-red-700 text-sm p-2'>120</h1>
                    </a>
                    <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                       
                        Les Pubs en cours :
                        <h1 class='text-sm text-red-700 p-2'>120</h1>
                    </a>
                    <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                      

                        Les résultats des publications:
                        <h1 class='text-red-400 text-sm p-2'>120</h1>
                    </a>
                </nav>
               
            </aside>
       <div>
            
    </div>
            <div>
                    <div id='test1'class=" grid grid-cols-3 gap-4 text-5xl font-bold h-96 w-full mb-48 h-3/4 mt-8 bg-yellow-400">
                      <div class=' col-span-2 bg-purple-900 flex-grow h-96 w-full p-2'>
                           <div class='bg-pink-600 h-1/2 w-full text-2xl'>
                           Espace commentaire
                           </div>
                            <div class='bg-pink-600 h-1/4 mt-8 w-full text-2xl'>
                           Nos réponses
                           </div>
                           
                     </div>

                    
                     <div class='bg-purple-800 h-96 w-72 p-2'>
                           <div class='bg-pink-400  mb-8 h-1/6 w-48 text-xl'>
                           Sujet1
                           </div>
                            <div class='bg-pink-400 mb-8 h-1/6 w-48 text-xl'>
                            Sujet2
                           </div>
                            <div class='bg-pink-400 mb-8 h-1/6 w-48 text-xl'>
                            Sujet3
                           </div>
                            <div class='bg-pink-400 mb-8 h-1/6 w-48 text-xl'>
                           Sujet3
                           </div>
                     </div>
                    
                    
                    </div>
                   
            </div>
                <div class='bg-indigo-700 h-96 w-52 pr-8 pl-4 mx-auto mt-8'>
                    <div class=' m-4 px-2 rounded-xl h-16 w-full bg-gray-400 text-white'>
                      Demande de changement Contenu web
                    </div>
                    <div class='m-4 px-2  rounded-xl h-16 w-full bg-indigo-900 text-white'>
                          Demande de changement Contenu Facebook
                    </div>

                    <div class=' m-4 px-2  rounded-xl h-16 w-full bg-green-900 text-white'>
                          Demande de changement Contenu Google 
                    </div>
                      <div class=' m-4 mt-8 px-2  rounded-xl h-16 w-full bg-red-900 text-white'>
                          Uploader des documents/vidéo 
                    </div>
                    <div class=' m-4 mt-24 px-2  rounded-xl text-2xl h-16 w-full bg-red-400 text-white'>
                          Prendre rendez vous 
                    </div>
                </div>

    </div>



       <h1>Contentwebs</h1>
         <%@contentwebs.each do |contentweb|%>
         <ul>
         <li><%= contentweb.header%></li>

         
         </ul>
         <%end%>
        <table>
          <thead>
            <tr>
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @contentwebs.each do |contentweb| %>
              <tr>
                <td><%= link_to 'Show', contentweb %></td>
                <td><%= link_to 'Edit', edit_contentweb_path(contentweb) %></td>
                <td><%= link_to 'Destroy', contentweb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <br>
        
        <%= link_to 'New Contentweb', new_contentweb_path %>
        
        
    </section>
</div>